@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {list-style: none;}
img {vertical-align: top;}
/*초기화*/

body {
    background: url(../img/main_bg.jpg) no-repeat;
}

#cont1 .click {
    position: absolute;
    top: 439px;
    left: 183px;
    display: block;
    width: 465px;
    height: 478px;
}
#cont1 .click:hover {
    background: url(../img/ct1_mo.png) no-repeat;
}
#cont1 .about{
    position: absolute;
    top: 517px;
    left: 554px;
}
/*cont1*/

#cont2 .click {
    position: absolute;
    top: 430px;
    left: 909px;
    display: block;
    width: 485px;
    height: 416px;
}
#cont2 .portfolio-left{
    position: absolute;
    top: 549px;
    left: 968px;
}
#cont2 .portfolio-right{
    position: absolute;
    top: 385px;
    left: 1364px;
}
/*cont2*/

#cont3 .click {
    position: absolute;
    top: 106px;
    left: 700px;
    display: block;
    width: 288px;
    height: 371px;
}
#cont3 .work{
    position: absolute;
    top: 178px;
    left: 363px;
}
/*cont3*/

#cont4 .click {
    position: absolute;
    top: 5px;
    left: 1454px;
    display: block;
    width: 263px;
    height: 333px;
}
#cont4 .branding{
    position: absolute;
    top: 30px;
    left: 1176px;
}
/*cont4*/

#cont5 .call {
    position: absolute;
    top: 360px;
    left: 1460px;
    display: block;
    width: 295px;
    height: 230px;
}
/*cont5*/

#modal_up{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
#modal_up.on{
    display: block;
}
.modal{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 100%;
    width: 600px; height: 300px;
    text-align: center;
    border: 2px solid #010101;
    box-shadow: 5px 7px #010101;
}
.modal .title{
    padding-top: 70px;
    font-family: 'GmarketSansBold';
    font-size: 18px;
    color: #9898ca;
}
.modal .txt{
    padding: 30px;
    line-height: 1.5em;
    font-size: 22px;
    font-family: 'GmarketSansMedium';
    color: #555;
}
.modal .txt a{
    text-decoration: underline;
    font-size: 17px;
    color: #999;
}
.modal .txt a:hover{
    color: #e69fb7;
}
.modal .btn{
    position: absolute;
    bottom: 40px; left: 50%;
    transform: translateX(-50%);
    width: 100px; height: 30px;
    border-radius: 5px;
    background-color: #e69fb7;
    line-height: 33px;
    cursor: pointer;
    font-family: 'GmarketSansBold';
    color: #fdf3a2;
    box-shadow: 3px 3px #010101;
    border: 1.5px solid #010101;
}
/*modal*/


.about{
    animation-name: about; /* 애니메이션 이름 지정 */
    animation-duration: 0.8s; /* 한 사이클이 몇초에 걸쳐서 일어날것인지 */
    animation-iteration-count: infinite; /* 몇 번 반복될건지 */
    animation-direction: alternate; /* 애니메이션 종료 후 처음부터 진행할지 역방향으로 진행할지 */
    animation-timing-function: ease-in-out;
    animation-delay: 0; /* 지연시간 */
}
@keyframes about{
    0%{
        top: 517px; left: 554px;
    }
    100%{
        top: 517px; left: 584px;
    }
}
/*about ani*/
.portfolio-left{
    animation-name: left;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}
@keyframes left{
    0%{
        transform: scale(0.8);
        top: 549px; left: 968px;
    }
    100%{
        transform: scale(1);
        top: 549px; left: 948px;
    }
}
.portfolio-right{
    animation-name: right;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
}
@keyframes right{
    0%{
        transform: scale(1);
        top: 385px; left: 1364px;
    }
    100%{
        transform: scale(0.8);
        top: 385px; left: 1344px;
    }
}
/*portfolio ani*/

.work{
    animation-name: work;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0;
}
@keyframes work{
    0%{top: 188px; left: 363px;}
    50%{top: 158px; left: 343px;}
    100%{top: 178px; left: 323px;}
}

.branding{
    animation-name: branding;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0;
}
@keyframes branding{
    0%{transform: rotate(8deg);}
    /* 50%{transform: rotate(0);} */
    100%{transform: rotate(-8deg);}
}
/*portfolio ani*/